.odd {
    font-family: sans-serif;
    font-size: 18px;
    background-color: #f7aab7;
}

.big {
    font-size: 32px;
    font-weight: 300;
}

#second {
    color: #0000ff;
    font-family: serif;
    font-size: 40px;
    font-weight: 500;
}

#fourth {
    background-color: #90ee90;
    font-family: serif;
    font-weight: bold;
    font-size: 28px;
}