* {
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 1px;
}

.title {
  background: #e3f4ff;
  padding: 16px;
  margin: 20px 16px 16px 16px;
}

.content {
  background: #e3f4ff;
  padding: 32px 16px;
  margin: 16px;
}

.button-container {
  background: #e3f4ff;
  margin: auto;
  text-align: center;
  padding: 16px;
  margin: 16px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 16px 32px;
  margin: auto;
}